<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원가입</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap/bootstrap-login.min.css" rel="stylesheet" />

    <script src="/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/template/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/template/join.css" />
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-md-offset-3">
        <form role="form" action="/auth/join" method="post">
          <div class="form-group">
            <label for="inputUserid">아이디</label>
            <input
              type="text"
              maxlength="12"
              class="form-control"
              id="inputUserid"
              name="userid"
              autocomplete="off"
              placeholder="아이디를 입력해 주세요"
            />
            <span class="notice_next_box">
              * 4~12자의 영문 소문자, 숫자만 사용 가능합니다
            </span>
          </div>
          <div class="form-group">
            <label for="inputName">성명</label>
            <input
              type="text"
              maxlength="20"
              class="form-control"
              id="inputName"
              name="name"
              autocomplete="off"
              placeholder="이름을 입력해 주세요"
            />
            <span class="notice_next_box"> * 2~20자의 한글만 사용 가능합니다 </span>
          </div>
          <div class="form-group">
            <label for="inputNickName">닉네임</label>
            <input
              type="text"
              maxlength="20"
              class="form-control"
              id="inputNickName"
              name="nick_name"
              autocomplete="off"
              placeholder="닉네임을 입력해 주세요"
            />
            <span class="notice_next_box">
              * 2~20자의 영문, 한글, 숫자만 사용 가능합니다.
            </span>
          </div>
          <div class="form-group">
            <label for="inputPassword">비밀번호</label>
            <input
              type="password"
              maxlength="16"
              class="form-control"
              id="inputPassword"
              name="password"
              autocomplete="off"
              placeholder="비밀번호를 입력해주세요"
            />
            <span class="notice_next_box">
              * 8~16자 영문+숫자+특수문자를 사용하세요.
            </span>
          </div>
          <div class="form-group">
            <label for="inputPasswordCheck">비밀번호 확인</label>
            <input
              type="password"
              class="form-control"
              id="inputPasswordCheck"
              name="passwordCheck"
              autocomplete="off"
              placeholder="비밀번호 확인을 위해 다시한번 입력 해 주세요"
            />
          </div>
          <div class="form-group">
            <label for="inputTel">휴대폰 번호</label>
            <input
              type="tel"
              class="form-control"
              id="inputTel"
              name="tel"
              placeholder="휴대폰번호를 입력해 주세요"
            />
            <span class="notice_next_box">
              * 휴대폰 번호 형식에 맞추어 작성하세요. '-' 기호는 안넣으셔도 됩니다.
            </span>
          </div>
          <div class="form-group">
            <label for="selectPlace">관리사이트</label>
            <select class="form-control" id="selectPlace" name="place_seq"></select>
          </div>
          <div class="form-group text-center">
            <button type="submit" id="join-submit" class="btn btn-primary">
              회원가입
            </button>
            <button type="button" class="btn btn-danger" id="historyBack">
              가입취소
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>

  <script>
    var placeList = <%- JSON.stringify(placeList) %>;
  </script>

  <script>
    // 사이트 목록 동적 생성
    placeList.forEach(function (place) {
      $('#selectPlace').append(`<option value=${place.mainSeq}>${place.name}</option>`);
    });
    // 가입 취소 시 로그인 창으로
    $('#historyBack').on('click', function () {
      location.href = window.location.origin + '/auth/login';
    });

    // 회원 가입 처리
    $('#join-submit').click(function (e) {
      e.preventDefault();

      if ($('#inputUserid').val() === '') {
        alert('아이디를 입력하세요');
        $('#inputUserid').focus();

        return false;
      }

      var idReg = /^[a-z0-9]{4,12}$/;
      if (!idReg.test($('#inputUserid').val())) {
        alert('아이디는 4~12자의 영문 소문자, 숫자만 사용 가능합니다.');
        $('#inputUserid').focus();

        return false;
      }

      if ($('#inputName').val() === '') {
        alert('성명을 입력하세요');
        $('#inputName').focus();

        return false;
      }

      var inputNameReg = /^[가-힣]{2,20}$/;
      if (!inputNameReg.test($('#inputName').val())) {
        alert('성명은 2~20자의 한글만 사용 가능합니다.');
        $('#inputName').focus();

        return false;
      }

      if ($('#inputNickName').val() === '') {
        alert('닉네임을 입력하세요');
        $('#inputNickName').focus();

        return false;
      }

      var nickNameReg = /^[a-zA-Z가-힣0-9]{2,20}$/;
      if (!nickNameReg.test($('#inputNickName').val())) {
        alert('닉네임은 2~20자의 영문, 한글, 숫자만 사용 가능합니다.');
        $('#inputNickName').focus();

        return false;
      }

      if ($('#inputPassword').val() === '') {
        alert('비밀번호를 입력하세요');
        $('#inputPassword').focus();

        return false;
      }

      var pwReg = /^(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])(?=.*[0-9]).{8,16}$/;

      if (!pwReg.test($('#inputPassword').val())) {
        alert('비밀번호는 8~16자 영문+숫자+특수문자를 사용하세요.');
        $('#inputPassword').val('').focus();
        return false;
      }

      if ($('#inputPasswordCheck').val() === '') {
        alert('비밀번호를 다시 한번 더 입력하세요');
        $('#inputPasswordCheck').focus();

        return false;
      }

      if ($('#inputPassword').val() !== $('#inputPasswordCheck').val()) {
        alert('비밀번호를 둘다 동일하게 입력하세요');
        return false;
      }

      if ($('#inputTel').val() === '') {
        alert('휴대폰 번호를 입력하세요');
        $('#inputTel').focus();
        return false;
      }

      var cellPhoneReg = /^(?:(010-?\d{4})|(01[1|6|7|8|9]-?\d{3,4}))-?\d{4}$/;
      if (!cellPhoneReg.test($('#inputTel').val())) {
        alert('휴대폰 형식에 맞지 않습니다.');
        $('#inputTel').val('').focus();
        return false;
      }

      var form = document.querySelector('form');
      form.submit();
    });
  </script>

  <!-- 휴대폰 번호 - 기호 자동 삽입 및 유효성 체크 정규식 -->
  <script type="text/javascript">
    $(function () {
      $('#inputTel')
        .on('keydown', function (e) {
          // 숫자만 입력받기
          var trans_num = $(this).val().replace(/-/gi, '');
          var k = e.keyCode;

          // 휴대폰 번호 자릿수를 넘어서는 입력 불가
          if (
            trans_num.length >= 11 &&
            ((k >= 48 && k <= 126) ||
              (k >= 12592 && k <= 12687) ||
              k === 32 ||
              k === 229 ||
              (k >= 45032 && k <= 55203))
          ) {
            e.preventDefault();
          }
        })
        .on('blur', function () {
          // 포커스를 잃었을때 실행합니다.
          if ($(this).val() === '') return;

          // 기존 번호에서 - 를 삭제합니다.
          var trans_num = $(this).val().replace(/-/gi, '');

          // 입력값이 있을때만 실행합니다.
          if (trans_num != null && trans_num != '') {
            // 총 핸드폰 자리수는 11글자이거나, 10자여야 합니다.
            if (trans_num.length === 11 || trans_num.length === 10) {
              // 유효성 체크
              var regExp_ctn = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})([0-9]{3,4})([0-9]{4})$/;
              if (regExp_ctn.test(trans_num)) {
                // 유효성 체크에 성공하면 하이픈을 넣고 값을 바꿔줍니다.
                trans_num = trans_num.replace(
                  /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})-?([0-9]{3,4})-?([0-9]{4})$/,
                  '$1-$2-$3',
                );
                $(this).val(trans_num);
              } else {
                alert('유효하지 않은 전화번호 입니다.');
                $(this).val('');
                $(this).focus();
              }
            } else {
              alert('유효하지 않은 전화번호 입니다.');
              $(this).val('');
              $(this).focus();
            }
          }
        });
    });
  </script>
</html>
