<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Jquery 3 CDN -->
    <script src="/js/jquery-3.5.1.min.js"></script>

    <!--Bootsrap 4 CDN-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--Fontawesome CDN-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/css/template/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/template/common.css" />
  </head>

  <body>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card" id="loginArea">
          <div class="card-header">
            <h3 id="loginName"></h3>
          </div>
          <div class="card-body">
            <form action="/auth/login" method="post">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control"
                  placeholder="아이디"
                  name="userid"
                />
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input
                  type="password"
                  autocomplete="off"
                  class="form-control"
                  placeholder="비밀번호"
                  name="password"
                  onkeypress="loginPress(event)"
                />
              </div>
              <div class="d-flex justify-content-center links">
                <span id="textErrorMessage">&nbsp;</span>
              </div>
              <div class="form-group">
                <input
                  type="button"
                  value="로그인"
                  class="btn float-right login_btn ml_1rem"
                  onclick="login()"
                />
                <input
                  type="button"
                  value="회원가입"
                  class="btn float-right login_btn"
                  onclick="location.href='/auth/join'"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  // 프로젝트에 따라 표현할 데이터
  var loginInfo = <%- JSON.stringify(loginInfo) %>;
  var loginName = loginInfo.name;
  var loginBG = loginInfo.imgPath;
  // 로그인 시도 에러 발생 시 결과 메시지
  var message = '<%- message %>';
</script>

<script>
  if (message.length) {
    $('#textErrorMessage').html(message);
  }

  $(document).ready(function () {
    // BG Path가 존재할 경우 명시
    if (typeof loginName === 'string' && loginName.length) {
      document.getElementById('loginName').innerHTML = loginName;
      document.querySelector('title').innerHTML = loginName + ' : 로그인';
    }

    if (typeof loginBG === 'string' && loginBG.length) {
      document.body.style.backgroundImage = 'url(../../image/bg/' + loginBG + ')';
    }

    $('#signUpArea').hide();
  });

  function loginPress(event) {
    if (event.keyCode == 13) {
      login();
    }
  }

  function login() {
    var form1 = document.querySelector('form');
    var id = form1.userid.value;
    var password = form1.password.value;

    if (id == '') {
      $('#textErrorMessage').html('아이디를 입력하세요.');
      return;
    }

    if (password == '') {
      $('#textErrorMessage').html('비밀번호를 입력하세요');
      return;
    }

    form1.submit();
  }

  function showSignUpArea() {
    $('#loginArea').hide();
    $('#signUpArea').fadeIn();
  }

  function cancelSignUp() {
    $('#signUpArea').hide();
    $('#loginArea').fadeIn();
  }

  function signUp() {
    var form = document.querySelector('#testSignUp');
    var userid = form.userid.value;
    var password = form.password.value;
    var name = '';

    form.submit();
  }
</script>
