<!-- purple x moss 2020 -->

<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/4b9ba14b0f.js"
    crossorigin="anonymous"
  ></script>

  <style>
    body {
      background-color: #95c2de;
    }

    .mainbox {
      background-color: #95c2de;
      margin: auto;
      height: 600px;
      width: 600px;
      position: relative;
    }

    .err {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position: absolute;
      left: 20%;
      top: 8%;
    }

    .far {
      position: absolute;
      font-size: 8.5rem;
      left: 42%;
      top: 15%;
      color: #ffffff;
    }

    .err2 {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position: absolute;
      left: 68%;
      top: 8%;
    }

    .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position: absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">
      방문하시려는 페이지의 주소가 잘못 입력되었거나, 페이지의 주소가 변경 혹은 삭제되어
      요청하신 페이지를 찾을 수 없습니다. 입력하신 주소가 정확한지 다시 한번 확인해 주시기
      바랍니다.
      <p><a href="/">홈으로</a></p>
    </div>
  </div>
</body>
