/***************************************/
/************ Master ************/
/***************************************/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-top: 1px solid #080808;
  border-left: 0;
  border-right: 0;
}

.table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

.table.nowrap > tbody > tr > td,
.table.nowrap > tfoot > tr > td,
.table.nowrap > thead > tr > td {
  vertical-align: middle;
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

_:-ms-input-placeholder,
:root .wrap {
  overflow: inherit;
  display: block;
  min-height: unset;
}

select {
  cursor: pointer;
}

.cursorDefault {
  cursor: default;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/***************************************/
/************ Footer Master ************/
/***************************************/
footer {
  background: #f2f2f2;
  padding: 0.5rem;
  margin-top: auto;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
}

footer img {
  margin-bottom: 0.3rem;
}

footer p {
  margin: 0.5rem 0;
}

footer a {
  font-size: 1.5rem;
}

footer span {
  padding: 0 1rem;
}

_:-ms-input-placeholder,
:root .footer_area {
  margin-top: 5rem;
}

.footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer_logo > span {
  font-weight: bold;
  font-size: 1.5rem;
  text-indent: 1rem;
}

/***************************************/
/************ Header Master ************/
/***************************************/
.nav_row_st_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  margin-right: 2rem;
}

.nav_row_st_right > img {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.weacast_txt {
  margin-left: 2rem;
}

.weathercast_temp {
  height: 3rem;
  width: 5rem;
  color: #000;
  cursor: default;
  text-align: center;
  border-radius: 2rem;
  margin-right: 0.4rem;
  pointer-events: none;
}

.weathercast_data_unit {
  align-self: flex-end;
  padding-bottom: 0.6rem;
}

.header_top {
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem 0;
}

.user_box {
  display: flex;
  align-items: center;
}

.user_box .user_nim {
  color: #fff;
  margin-right: 1rem;
}

.user_box .logout {
  height: 3rem;
  width: 8rem;
  border-radius: 2rem;
  text-align: center;
}

.header_w_r {
  /* padding: 0 1rem; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_w_r:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container-fluid {
  background: linear-gradient(#fbfbfb, #e8e8e8);
  width: 100%;
}

.max_w1024 {
  max-width: 1024px;
  margin: 0 auto;
}

.header_home_area {
  padding: 15px 15px 15px;
  color: #333 !important;
  font-weight: bold;

  /* font-size: 17px; */
  display: flex;
  align-items: center;
}

.header_home_area > img {
  /* width: 30px; */
  height: 30px;
  margin: 0px;
  margin-right: 5px;
}

.header_home_area > span {
  font-size: 1em;
}

.navbar-inverse .navbar-nav > li:hover {
  background: #817e7e;
}

.header_sub_area {
  background: linear-gradient(to bottom, #343535, #272727);
}

/* Site 선택지 */
.siteList {
  height: 30px;
  padding-left: 10px;
  background: #fff;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 3px;
}

.siteList option {
  background: #fff;
}

.header_sub_area .header_sub_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

/***************************************/
/************** Container **************/
/***************************************/
.container_body {
  /* max-width: 95%; */
  min-height: 700px;

  /* margin-bottom: 1rem; */
  /* margin-left: 2.5%; */
  margin: 0 1%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container_row {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin: 0.5rem auto 0;
}

.container_row {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem auto;
  flex-wrap: wrap;
}

.container_row.navi {
  /* margin: 0; */
  overflow-x: auto;
  flex-wrap: nowrap;
}

.container_row.navi > div {
  /* margin: 0.5rem 0; */
  white-space: nowrap;
}

.container_row.division {
  flex: 1 0.5 348px;
  min-height: 348px;
}

.component_side_box {
  width: 250px;
  min-width: 250px;
  height: 348px;
}

.component_contents_area {
  width: calc(100% - 250px - 1%);
  height: 348px;
  display: flex;
  justify-content: space-between;
}

/***************************************/
/*         Container - Side            */
/***************************************/
.component_side_area {
  display: flex;
  flex-direction: column;
  height: 98%;
  width: 97%;
  color: #fff;
}

.component_side_area > header {
  background: inherit;
  border: 0;
  text-align: left;
  padding: 0 2rem;
}

.data_title_section {
  padding: 1.5rem;
}

.data_view_section {
  padding: 0 1rem;
}

.power_img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/***************************************/
/********** Dash Board 영역 ************/
/***************************************/
.component_piece_box {
  width: 250px;
  min-width: 250px;
  height: 348px;
  padding: 0rem;
  margin-left: 1rem;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.container_row.division .component_piece_box {
  height: auto;
}

.component_piece_box.side_box {
  min-width: 250px;
  flex: 0;
  height: auto;
}

.component_piece_box.gauge_box {
  height: 348px;
}

.component_piece_area {
  display: flex;
  flex-direction: column;

  /* height: 98%; */
  width: 100%;
}

/* .component_piece_box:last-child  */
.component_piece_box:first-child {
  /* padding: 0; */
  margin-left: 0;
}

/* 
.component_piece_box:first-child > .component_side_area,
.component_piece_box:first-child > .component_piece_area {
  margin-right: auto;
  width: 98%;
}

.component_piece_box:last-child > .component_side_area,
.component_piece_box:last-child > .component_piece_area {
  margin-left: auto;
  width: 98%;
} */

.component_only_one > .component_piece_box > .component_piece_area {
  width: 100%;
}

.component_piece_area > header {
  margin: 0;
  height: 45px;

  /* height: 13%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.gauge_chart {
  /* position: absolute; */
  height: 100%;
}

.component_piece_body {
  padding: 0.3rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 45px);
}

.gauge_box .component_piece_body {
  height: calc(100% - 45px);
}

.component_piece_body > .gauge_contents {
  padding: 0 2rem;
  bottom: 35%;

  /* height: 25%; */
  position: relative;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.component_piece_body input {
  background: transparent;
}

/* 센서 데이터 뷰 */
.sensor_data_view {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  height: 2em;
}

.sensor_data_view > p {
  margin: 0;
}

.data_view_section .sensor_data_view > p:first-child {
  text-align: left;
  font-size: 1.3rem;
}

.sensor_data_view > p:first-child {
  text-align: left;
  font-size: 1.5rem;
  text-indent: 10%;
}

.sensor_data_view > p:nth-child(2) {
  text-align: right;
  font-size: 1.6rem;

  /* color: #93d30a; */
}

.sensor_data_view > p:last-child {
  text-indent: 0.5rem;
  text-align: left;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

/***************************************/
/************** Report 영역 ************/
/***************************************/

.report_category > button {
  min-width: 8rem;
}

.table_pagenation {
  display: flex;
  justify-content: center;
}

.lineChart_box {
  margin: 1rem 0;
  height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/***************************************/
/************** structure 영역  FIXME: 현재는 제어 페이지*********/
/***************************************/

.command_status_view {
  width: 48%;
  margin: 10px;
}

.command_status {
  align-items: center;
  display: flex;
}

.view_type_selector_box {
  display: flex;
  align-items: center;
}

.map_control_box {
  /* width: 1%;
  display: grid;
  height: 9vw; */
  margin: 5px;
  position: absolute;
  gap: 5px;
  z-index: 1;
}

.map_control_box > button {
  opacity: 0.9;
  width: auto;
  font-size: 1.5em;
}

.svg_area {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #807a7a;
  min-width: 300px;
  min-height: 60vmin;
  /* min-width: 300px;
  min-height: 160px; */
  width: 100%;
}

.svg_map {
  overflow: visible !important;
  /* transform: scale(0.4) !important; */
}

/***************************************/
/************** Table 영역 *************/
/***************************************/

.elipsis {
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-location-href tbody tr {
  cursor: pointer;
}

/* Numerical Talbe 수치 테이블   */
.number_table {
  table-layout: fixed;
  overflow-x: visible;
  margin-bottom: 0;
}

.number_table thead th {
  word-break: keep-all;
  overflow: hidden;

  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}

.number_table tbody {
  text-align: right;
}

.number_table .table_title {
  text-align: left;
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table_desc_area {
  margin: 0.5rem 0;
  padding: 0 1rem;
  height: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  width: max-content;
  width: intrinsic;
  width: -webkit-fit-content;
  width: -moz-max-content;
  width: -o-max-content;
}

.noHover {
  /* pointer-events: none; */
}

table.noHover tr:hover {
  background-color: transparent;
}

/* 센서 데이터 뷰 60% 30% 10% */
article.sdv_w541 > p:first-child {
  width: 60%;
}

article.sdv_w541 > p:nth-child(2) {
  width: 30%;
}

article.sdv_w541 > p:last-child {
  width: 10%;
}

article.sdv_w_side > p:first-child {
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
}

article.sdv_w_side > p:nth-child(2) {
  width: 32%;
}

article.sdv_w_side > p:last-child {
  width: 23%;
}

/* 한 행에 2개의 센서 데이터가 들어갈 경우 */
/* Sensor Data Dual View(SDDV) */
.sddv_w35 > article {
  width: 35%;
}

.sddv_w35 .sensor_data_view {
  align-items: center;
}

.component_ele_status {
  margin: 0 0 0.9rem;
}

.component_ele_status:last-child {
  margin: 0;
}

.component_ele_status > header {
  margin: 0;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 검색 박스 */
.search_area {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  flex-flow: row wrap;
}

.search_area .search_area {
  padding: 0rem;
}

.search_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2.5rem;
  min-width: 60px;
}

.search_box > .search_title {
  font-size: 1.5rem;
  height: 2.3rem;
  overflow: hidden;
}

.search_box > .search_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_box > .search_body > span {
  margin: 0px 1rem;
}

.submit_box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-left: 3rem;
}

.submit_box > .btn {
  /* width: 8rem; */
  /* height: 4rem; */
  /* font-size: 1.6rem; */
  /* text-align: center; */
  /* border-radius: 1rem; */

  /* transition: all 0.4s ease; */
}

.submit_box > .icon {
  width: 6rem;
  height: 6rem;
  margin-left: 2rem;
  padding: 0;
}

.search_box input[type='text'] {
  height: 34px;
  width: 100px;
  border-radius: 3px;
  text-align: center;
}

.search_box input[type='number'] {
  height: 34px;
  min-width: 45px;
  border-radius: 3px;
  text-align: center;
}

.search_category_box {
  width: 25%;
  min-width: 130px;
}

.search_range_box {
  width: 15%;
  min-width: 130px;
}

.search_interval_box {
  width: 10%;
  min-width: 100px;
}

.cctv_box {
  min-height: 500px;
}

/***************************************/
/************ Common *************/
/***************************************/
.overX_h {
  overflow-x: hidden;
}

.overY_h {
  overflow-y: hidden;
}

.overX_a {
  overflow-x: auto;
}

.overY_a {
  overflow-y: auto;
}

.notice_next_box {
  display: block;
  font-size: 0.7em;
  margin-top: 0.5em;
  color: #343535;
}

.error_next_box {
  display: block;
  font-size: 0.7em;
  margin-top: 0.5em;
  color: red;
}

.txt_align_r {
  text-align: right;
}

.txt_align_l {
  text-align: left;
}

.txt_align_c {
  text-align: center;
}

.default_area {
  width: 100%;
}

/***************************************/
/************ Font-Size Rem ************/
/***************************************/
.fs_100rem {
  font-size: 1rem !important;
}

.fs_120rem {
  font-size: 1.2rem !important;
}

.fs_130rem {
  font-size: 1.3rem !important;
}

.fs_150rem {
  font-size: 1.5rem !important;
}

.fs_170rem {
  font-size: 1.7rem !important;
}

.fs_200rem {
  font-size: 2rem !important;
}

/***************************************/
/************ Font-Size EM *************/
/***************************************/
.fs_120em {
  font-size: 1.2em !important;
}

.fs_150em {
  font-size: 1.5em !important;
}

/***************************************/
/**************** Color ****************/
/***************************************/
.color_white {
  color: white;
}

.color_yellow {
  color: yellow;
}

.color_green {
  color: #38be55;
}

.color_red {
  color: #e62f2f;
}

.color_blue {
  color: #2c3aff;
}

.color_black {
  color: black;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

/***************************************/
/************** 하이차트 ***************/
/***************************************/
#container {
  height: 400px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.1em;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
  color: #fff;
  text-align: center;
  border: 1px solid #ddd;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  /* background: #f8f8f8; */
}
.highcharts-data-table tr:hover {
  /* background: #f1f7ff; */
}

/***************************************/
/**************** interval ****************/
/***************************************/

.w_auto {
  width: auto;
}

.w_10per {
  width: 10%;
}

.w_15per {
  width: 15%;
}

.w_20per {
  width: 20%;
}

.w_25per {
  width: 25%;
}

.w_29per {
  width: 29%;
}

.w_30per {
  width: 30%;
}

.w_35per {
  width: 35%;
}

.w_40per {
  width: 40%;
}

.w_45per {
  width: 45%;
}

.w_49per {
  width: 49%;
}

.w_50per {
  width: 50%;
}

.w_90per {
  width: 90%;
}

.w_100per {
  width: 100%;
}

.w_1rem {
  width: 1rem;
}

.w_2rem {
  width: 2rem;
}

.w_3rem {
  width: 3rem;
}

.w_4rem {
  width: 4rem;
}

.w_5rem {
  width: 5rem;
}

.w_6rem {
  width: 6rem;
}

.w_7rem {
  width: 7rem;
}
.w_8rem {
  width: 8rem;
}
.w_9rem {
  width: 9rem;
}
.w_10rem {
  width: 10rem;
}

.mw_1rem {
  min-width: 1rem;
}

.mw_2rem {
  min-width: 2rem;
}

.mw_3rem {
  min-width: 3rem;
}

.mw_4rem {
  min-width: 4rem;
}

.mw_5rem {
  min-width: 5rem;
}

.mw_6rem {
  min-width: 6rem;
}

.mw_7rem {
  min-width: 7rem;
}

.mw_8rem {
  min-width: 8rem;
}

.mw_9rem {
  min-width: 9rem;
}

.mw_10rem {
  min-width: 10rem;
}

.mw_11rem {
  min-width: 12rem;
}

.mw_12rem {
  min-width: 12rem;
}

.ml0 {
  margin-left: 0;
}

.mt0 {
  margin-top: 0;
}

.m_05rem {
  margin: 0.5rem;
}

.m_1rem {
  margin: 1rem;
}

.m_2rem {
  margin: 2rem;
}

.m_3rem {
  margin: 3rem;
}

.mt_1rem {
  margin-top: 1rem;
}

.mt_2rem {
  margin-top: 2rem;
}

.mr_05rem {
  margin-right: 0.5rem;
}

.mr_1rem {
  margin-right: 1rem;
}

.mr_2rem {
  margin-right: 2rem;
}

.mr_3rem {
  margin-right: 3rem;
}

.mr_4rem {
  margin-right: 4rem;
}

.mr_5rem {
  margin-right: 5rem;
}

.ml_1rem {
  margin-left: 1rem;
}

.ml_2rem {
  margin-left: 2rem;
}

.mb_0 {
  margin-bottom: 0;
}

.mb_50rem {
  margin-bottom: 0.5rem;
}

.p_0 {
  padding: 0;
}

.pt_1rem {
  padding-top: 1rem;
}

.pt_1rem {
  padding-top: 2rem;
}

.pr_1rem {
  padding-right: 1rem;
}

.pr_2rem {
  padding-right: 2rem;
}

.pr_3rem {
  padding-right: 3rem;
}

/***************************************/
/**************** Flex Option ****************/
/***************************************/
.flex {
  display: flex;
}

.flex_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex_dir_row {
  flex-direction: row;
}

.flex_dir_col {
  flex-direction: column;
}

.flex_jus_start {
  justify-content: start;
}

.flex_jus_center {
  justify-content: center;
}

.flex_jus_end {
  justify-content: flex-end;
}

.flex_jus_bet {
  justify-content: space-between;
}

.flex_0 {
  flex: 0;
}

.flex_1,
.flex_10 {
  flex: 1 1 auto;
}

.flex_11 {
  flex: 1.1 1 auto;
}

.flex_12 {
  flex: 1.1 1 auto;
}

.flex_15 {
  flex: 1.5 1 auto;
}

.flex_20 {
  flex: 2 1 auto;
}

.flex_3,
.flex_30 {
  flex: 3 1 auto;
}

.flex_35 {
  flex: 3.5 1 auto;
}

.flex_4,
.flex_40 {
  flex: 4 1 auto;
}

.flex_grow_1 {
  flex-grow: 1;
}

.flex_grow_2 {
  flex-grow: 2;
}

.flex_end {
  align-items: flex-end;
}

/***************************************/
/**************** Dynamic Media ****************/
/***************************************/

@media all and (max-width: 942px) {
  .container-fluid {
    padding: 0;
  }

  .container_body {
    width: 100%;
    max-width: none;
    margin: 0.1rem 0;
  }

  .container_row {
    width: auto;
    margin: 1px;
    display: flex;
    flex-direction: column;

    /* flex-wrap: wrap; */
  }
  /* Navi */
  .container_row.navi {
    text-indent: 0;
    margin: 0.5rem;
    flex-direction: row;
    overflow-x: auto;
  }

  .container_row.division {
    min-height: auto;
  }

  .component_side_box {
    width: 100%;
    height: auto;
  }

  .component_contents_area {
    width: auto;
    height: auto;
    display: block;
  }

  .power_img {
    display: none;
  }

  .component_piece_box {
    width: 100%;
    min-height: auto;
    padding: 0.1rem 0;
    margin: 0;
  }

  .component_side_area,
  .component_piece_area {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }

  .container_row .component_piece_box > .component_piece_area {
    width: 100%;
  }

  .table_desc_area {
    text-indent: 0;
    width: 100%;
    justify-content: center;
  }

  .table {
    table-layout: auto;
  }

  .report_category {
    /* text-indent: 1rem; */
    margin-right: 2rem;
  }

  .command_status {
    justify-content: flex-end;
    /* margin: 1rem; */
  }

  .command_btn_area {
    flex-direction: row;
    margin: 0.5rem;
  }

  .search_area {
    padding: 0.5rem;
  }

  /* .search_area .search_area {
    padding: 0rem;
  } */

  .default_search_area {
    /* margin-top: 1rem; */
  }
}

@media all and (max-width: 942px) and (min-width: 551px) {
  .data_view_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .data_view_section .sensor_data_view {
    width: 40%;
  }
}

/* 헤더 서브 축약 */
@media all and (max-width: 700px) {
  .weacast_txt,
  .user_box > span {
    display: none;
  }

  .nav_row_st_right > .weathercast_temp {
    width: 4rem;
  }
}

@media all and (max-width: 850px) {
  .search_area {
    flex-direction: column;
  }

  .search_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 1rem 0;
    padding-right: 3rem;
  }

  .search_box .search_title {
    text-align: right;
    margin-right: 1.5rem;
    width: 20%;
  }

  .search_box > .search_body {
    width: 80%;
  }

  .search_box > .search_body > input {
    width: 45%;
  }

  .search_box input,
  .search_box button,
  .search_box select {
    width: 80%;
  }

  .submit_box {
    margin: 1rem 0;
  }

  .submit_box .btn {
    width: calc(100% - 5rem);
  }

  .submit_box > .icon {
    margin-left: 1rem;
  }

  .rtsp_container {
    flex-direction: column;
    align-content: center;
  }

  .command_status_view {
    width: 100%;
    margin: 0;
  }
}

@media all and (max-width: 550px) {
  /* body {
    font-size: 10px;
  } */

  .container-fluid {
    padding-left: 0;
  }

  /* .header_sub_area .header_sub_box {
    align-items: normal;
    flex-direction: column;
  } */

  .nav_row_st_right {
    display: none;
  }

  .weacast_txt {
    margin: 0 2rem 1rem;
  }

  /* .header_w_r:first-child {
    border-bottom: 1px solid #807a7a;
  } */

  .header_home_area {
    font-size: 1.1em;
    width: 84%;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .data_view_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .data_view_section .sensor_data_view {
    width: 47%;
  }
}

@media all and (max-width: 380px) {
  html {
    font-size: 9px;
  }

  .navbar-toggle {
    margin-right: 0;
  }

  .nav_row_st_right,
  .header_home_area {
    font-size: 1em;
  }

  .table_desc_area {
    padding: 0;
  }
}

/* 기상 환경 정보 테이블  */
.weather_forecast_table > tbody > tr > td > p {
  border: 1px solid #d2d2d2;
  background: white;
  position: relative;
  left: -18px;
  top: 0px;
  width: 22px;
  line-height: 19px;
  height: 19px;
  margin-bottom: 3px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.weather_forecast_table {
  table-layout: auto;
  width: 100%;
  font-size: 1.2rem;
}
