/***************************************/
/************ Master ************/
/***************************************/
body {
  color: #333;
  background: #f2f4f7;
}

body a {
  color: #333;
}

header {
  border-bottom: #091219 solid 1px;
}

.table thead {
  background: linear-gradient(#cccccc, #a9a9a9);
}

/***************************************/
/************ Header Master ************/
/***************************************/

/***************************************/
/************** Container **************/
/***************************************/
/* 가장 기본적으로 쓰일 컴포넌트 스타일 */
.default_area {
  background: linear-gradient(to bottom right, #f3f3f3, #fafafa);
  box-shadow: 5px 2px 10px #b7b7b7;
}

.default_search_area {
  background: linear-gradient(to bottom right, #8da7d6, #a1bae8);
  box-shadow: 5px 2px 10px #b7b7b7;
  border: 1px solid #9fb1cc;
}

.container_body {
  max-width: 90%;
  min-height: 700px;
  margin-bottom: 1rem;
  margin-left: 5%;
  padding: 0;

  flex: 1;
}

.container_row {
  /* padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between; */
}

.container_body .min-table {
  min-height: 500px;
  background: white;
}

/***************************************/
/*         Container - Side            */
/***************************************/
/* 발전 현황 정보 */
.side_section_power {
  background: #92b912;
  box-shadow: 5px 2px 10px #b7b7b7;
}

/* 발전 현황 정보 데이터 색상 */
.side_section_power .sensor_data_view > p:nth-child(2) {
  color: #0400ff;
}

/* 생육 환경 정보 */
.side_section_growth {
  background: #3f8eb9;
  box-shadow: 5px 2px 10px #b7b7b7;
}

/* 생육 환경 정보 데이터 색상 */
.side_section_growth .sensor_data_view > p:nth-child(2) {
  color: #00ff14;
}

.power_img {
  background: url('../../image/development.jpg');
}

/***************************************/
/*         Container - Body            */
/***************************************/

/* 박스 In Chart */
.component_piece_area {
  background: #fff;
  box-shadow: 5px 2px 10px #b7b7b7;
}

.component_piece_area > header {
  background: linear-gradient(#408cff, #2b68c5);
  border-top: 1px solid #3977d4;
  border-bottom: 1px solid #5181ca;
  color: #fff;
}

.component_piece_area .p_column_rem {
  padding: 2rem 0 0;
  overflow: hidden;
}

/* Body 단위 색상 검은색 */
.sensor_data_view > p:nth-child(2) {
  color: rgb(28, 45, 202);
}

.component_ele_status {
  border: 0.1rem solid #443c3c;
  margin: 2rem 0;
}

.component_ele_status > header {
  color: #fff;
  background: linear-gradient(#497b18, #5d9a22);
  margin: 0;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 아래에 나오는 테이블을 설명하기 위한 Descrition 영역 */
.table_desc_area {
  background: linear-gradient(#3baf69, #349059);
  box-shadow: 0.3em 0.2em 0.3em #b7b7b7;
}

.table_desc_area > span {
  color: #fff934;
}

.search_box input[type='text'] {
  border: 1px solid #eee;
}

.search_box > .search_title {
  color: #002973;
}

.submit_box > button {
  border: 1px solid #18984b;
  background: linear-gradient(#3baf69, #349059);
}

.submit_box > button:hover {
  background: linear-gradient(#359b5d, #2c774a);
}

.rtsp_container {
  display: flex;
}

.rtsp_container section:first-child {
  width: 20%;

  /* background: #c4eaff; */
}

.rtsp_container section:last-child {
  width: 80%;
  background: #333;
}
