<footer class="footer_area">
  <div>
    <p>
      <img height="30" src="/image/icon/kepco_f_logo.png" />
      <a href="" id="downloadManual">사용자 취급 설명서</a>
    </p>
    <address class="footer_logo">
      (우) 58217 전라남도 나주시 전력로 55 (빛가람동 120) Copyright@2017 KEPCO. All Rights
      Reserved.
    </address>
  </div>
</footer>

<script>
  // 매뉴얼 다운
  document.querySelector('#downloadManual').setAttribute('href', '/docs/manual.pptx');
</script>
