<title id="projectTitle"></title>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script src="/js/lodash.min.js"></script>
<script src="/js/moment.min.js"></script>

<!-- jQuery, Bootstrap -->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<!-- DatePicker -->
<script src="/js/bootstrap/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap/bootstrap-datepicker.kr.js"></script>
<script src="/js/common-html/date-picker.js"></script>
<link href="/css/datepicker3.css" rel="stylesheet" />

<!-- 차트 -->
<script src="/js/hichart/hichart.js"></script>
<script src="/js/hichart/highcharts-more.js"></script>
<script src="/js/hichart/solid-gauge.js"></script>

<!-- Custom CSS -->
<link href="/css/template/common.css" rel="stylesheet" />
<!-- <link href="/css/template/normal-theme.css" rel="stylesheet" /> -->
<link href="/css/template/dark-theme.css" rel="stylesheet" />
