<script src="/js/panzoom.min.js"></script>
<div class="navigation">
  <ul>
    <li>
      <a href="#" name="sidebar-toggle" title="사이드바 닫기">
        <span class="icon">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </span>
        <span class="title">link</span>
      </a>
    </li>
    <!-- <li>
      <a href="#">
        <span class="icon">
          <i class="fa fa-link" aria-hidden="true"></i>
        </span>
        <span class="title">link</span>
      </a>
    </li> -->
    <li>
      <a href="#" id="zoomIn" title="확대">
        <span class="icon">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        </span>
        <span class="title">확대</span>
      </a>
    </li>
    <li>
      <a href="#" id="zoomOut" title="축소">
        <span class="icon">
          <i class="fa fa-search-minus" aria-hidden="true"></i>
        </span>
        <span class="title">minus</span>
      </a>
    </li>
    <li>
      <a href="#" id="reset" title="초기화">
        <span class="icon">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </span>
        <span class="title">refresh</span>
      </a>
    </li>
    <li>
      <a href="#" id="monitoring-mode" title="전체 화면">
        <span class="icon">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </span>
        <span class="title">full</span>
      </a>
    </li>
  </ul>
</div>
